body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    width: 900px;
    margin-left: 600px;
    margin-right:600px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    border: 2px solid seagreen;
    border-radius: 5%;
    text-align: center;
}

.submit input[type="submit"] {
    border: 3px dashed darkslategrey;
    border-radius: 5%;
    width: 150px;
    margin-left: 20px;
    margin-right:20px;
    margin-top: 5px;
    margin-bottom: 5px;
}